<section id="clients" class="clients section light-background py-5">
    <div class="container section-title" data-aos="fade-up">
      <h2>Clients</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div>
    <div class="container" data-aos="zoom-in">
      <swiper-container
      [autoplay]="{ delay: 2000, disableOnInteraction: false }"
      [slidesPerView]="5"
      [breakpoints]="breakpoints"
      
      >
        <swiper-slide><img src="assets/img/client/cl-1.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide>
        <swiper-slide><img src="assets/img/client/cl-2.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide>
        <swiper-slide><img src="assets/img/client/cl-3.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide>
        <swiper-slide><img src="assets/img/client/cl-4.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-5.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-6.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-7.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-8.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-9.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-10.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-11.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-12.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-13.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-14.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-15.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-16.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-17.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-18.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-19.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-20.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-21.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-22.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-23.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-24.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-25.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-26.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-28.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl-29.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide> 
        <swiper-slide><img src="assets/img/client/cl30.png" alt="client-logo" class="img-fluid" width="150px"></swiper-slide>  
      </swiper-container>
    </div>
</section> 