<!-- NavBar Section -->
<app-navbar></app-navbar>
<!-- Main Container -->
<main class="main">
<!-- Hero Section -->
<app-home></app-home>
 <!-- About + Whyus -->
<app-about></app-about>
<!-- Services Section -->
<app-services></app-services>  
<!-- Call To Action Section -->
<app-cta></app-cta>

<!-- Clients Section -->
<app-clients></app-clients>

  
<!-- Team Section -->
<app-team></app-team>  

<!-- Parteners Section -->
<app-parteners></app-parteners>


<!-- Testimonials Section -->
<app-reviews></app-reviews>

<!-- Faq 2 Section -->
<app-faq></app-faq>

<!-- Contact Section -->
<app-contact></app-contact>

</main>
<!-- End of Main Container -->

<!-- Footer Section -->
<app-footer></app-footer>


