<!-- Reviews -->
<section id="testimonials" class="testimonials section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Reviews</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100"> 
          <swiper-container
          [autoplay]="{ delay: 2500, disableOnInteraction: false }"
          [config]="swiperConfig">
          <swiper-slide *ngFor="let testimonial of testimonials">
            <div class="testimonial-item">
              <img [src]="testimonial.image" class="testimonial-img" alt="{{testimonial.name}}">
              <h3>{{testimonial.name}}</h3>
              <h4>{{testimonial.role}}</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p> 
                <i class="bi bi-quote quote-icon-left"></i>
                <span>{{testimonial.text}}</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </swiper-slide>
          </swiper-container>
        </div>
        <!-- End testimonial item -->
</section>
<!-- /Reviews -->