<!-- Service Section  -->
<section id="services" class="services section light-background">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->
    <div class="container">
      <div class="row gy-4">
        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-code-slash"></i></div>
            <h4><a href="#" class="stretched-link">Web Development</a></h4>
            <p>We’re passionate about transforming various industries with our web development expertise. We’ve crafted everything from sophisticated corporate sites that enhance business presence to innovative e-commerce platforms that drive sales. Our experience spans captivating personal blogs, dynamic community hubs, and beyond.</p>
          </div>
        </div><!-- End Service Item -->
        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-phone"></i></div>
            <h4><a href="#" class="stretched-link">Mobile App Development</a></h4>
            <p>we offer a variety of playful options to fit your needs! Want to turn your existing website into a mobile app without any fuss? Our Webview apps seamlessly integrate your site into a sleek mobile experience. Looking for something that’s ready to go right out of the box? Our pre-built app packages are like instant magic, ready to adapt to your needs.</p>
          </div>
        </div><!-- End Service Item -->
        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
            <h4><a href="#" class="stretched-link">Social Media</a></h4>
            <p>At Digital Bond, we elevate your brand with our comprehensive social marketing services. From eye-catching motion graphic design and engaging voiceovers to strategic social media management, we offer a full suite of solutions to boost your online presence.</p>
          </div>
        </div><!-- End Service Item -->
        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-fast-forward-circle-fill"></i></div>
            <h4><a href="#" class="stretched-link">Media Production</a></h4>
            <p>Our motion graphic design team creates visually stunning animations that captivate and communicate your brand’s message effectively. We turn complex ideas into dynamic visuals that grab attention and drive engagement.</p>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-activity"></i></div>
            <h4><a href="#" class="stretched-link">SEO Optimization</a></h4>
            <p>Search engine optimization is the process of improving the quality and quantity of website traffic to a website or a web page from search engines. SEO targets unpaid traffic rather than direct traffic or paid traffic.</p>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-chat-right-text"></i></div>
            <h4><a href="#" class="stretched-link">SMS Campaigns</a></h4>
            <p>Boost engagement and ROI with SMS campaigns—over 90% of messages are read within three minutes. Connect directly with customers through personalized messages, updates, and special offers</p>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-mic-fill"></i></div>
            <h4><a href="#" class="stretched-link">Influencers Marketing</a></h4>
            <p>Add a professional touch to your content with our voiceover services. Our skilled voice artists deliver clear, compelling narration that enhances your message and connects with your audience.</p>
          </div>
        </div>
        <!-- End Service Item -->
      </div>
    </div>
  </section>
<!-- /Service Section -->